.App {
  width: 60%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: center; 
}

.todo-input-div {
  margin: 10px 0 20px 0;
}

.add-todo {
  display: flex;
  justify-content: center;
  
}

.add-todo input {
  margin-right: 5px;
}

.todo-input {
  flex-grow: 1;
}

.add-todo-error {
  color: red;
  margin: 5px 0;
  padding: 0;
}

.todo {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-status {
  display: flex;
  flex-grow: 1;
}

.todo-status * {
  margin-right: 10px;
}

.todo-title{
  margin: 0 5px;
  /* width: 50px; */
  word-wrap: break-word;
}

.input-todo-title {
  flex: 1;
}

.todo input[type="checkbox"] {
  cursor: pointer;
}

.todo-controls {
  display: flex;
}

.todo-controls * {
  margin: 0 3px;
}

.btn-edit-todo, .btn-save-todo, .btn-cancel-todo, .btn-delete-todo{
  width: 60px;
}